.footer-home {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;   /* Height of the footer */
    bottom: 0;
    width: 100%;
    background: var(--purple);
    color: var(--white);
    font-size: 0.75rem;

}

.footer-albums {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;   /* Height of the footer */
    width: 100%;
    background: var(--purple);
    color: var(--white);
    font-size: 0.75rem;
}

@media (width < 1200px) {
    .footer-home {
        position: relative;
        font-size: 0.7rem;
        height: fit-content;
        margin-top: 25px;
    }

    .footer-albums {
        font-size: 0.7rem;
        height: fit-content;
        margin-top: 25px;
    }
}

.icon-api {
    height: 15px !important;
    width: 59px !important;
}
