@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');



:root {
    --white: #FBFEF9;
    --purple: #743ad5;
    --dark_grey: #35363E;
    --background: #1E1E1E;


    /*--white: #FBFEF9;
    --purple: #743ad5;
    --dark_grey: #35363E;*/


    --Porpl: #805ad5; /*Porpl NOT IN SERVICE*/
  }

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

.homepage-container {
    text-align: center;
    height: fit-content;
    width: 100%;
    margin-top: 48px;
    margin-bottom: 48px;
}

.NS-title {
    color: var(--white);
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    font-family: 'PT Sans', sans-serif;

}

.subTitle {
    color: var(--white);
    font-family: 'PT Sans', sans-serif;

    margin-top: 0;
    font-size: 20px;
    opacity: 80%;
}

.main-content-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    gap: 5px;
    margin: 10px;
}

.item {
    background-color: var(--dark_grey);
    color: var(--white);
    border-style: solid;
    border-radius: 8px 8px 0 0;
    border-color: var(--purple);
    text-align: center;
    padding: 5px;
    font-family: 'PT Sans', sans-serif;

    font-size: 1.5em;
}

.border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
  }
  .border-gradient-purple {
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.only-bottom {
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }
